body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d90000;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
p {
    line-height: 1.6;
}
